PORT = 0000
MONGODB_URI = MONGODB_URI
JWT_SECRET = JWT_SECRET

#Cloudinary

CLOUDINARY_CLOUD_NAME= CLOUDINARY_CLOUD_NAME 
CLOUDINARY_API_KEY= CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET = CLOUDINARY_API_SECRET

# STRIPE

STRIPE_PUBLISHABLE_KEY = key
STRIPE_SECRET_KEY = KEY
STRIPE_WEBHOOK_SECRET = STRIPE_WEBHOOK_SECRET #npm run stripe

#Pusher
PUSHER_APP_ID=ID
PUSHER_KEY=KEY
PUSHER_SECRET=SECRET
PUSHER_CLUSTER=CLUSTER
